.root {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
  margin-top: 0px;
}
.root__showStartIcon {
  display: flex;
}
.root__iconOnly {
  padding-top: 11px;
  padding-bottom: 11px;
}
.root__outline {
  border: 1px solid #e5e5ea /* plasmic-token: Elnzao14vH6G */;
}
.root__bgDifference {
  mix-blend-mode: difference;
}
.root__round {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
}
.root__flat {
  padding: 0px;
}
.root__extraSmallShadow {
  box-shadow: 0px 1px 1px 1px #0000001a;
}
.root__isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.root__color_green {
  background: #34c759;
}
.root__color_indigo {
  cursor: pointer;
  flex-direction: row;
  background: #5856d6;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.root__color_indigo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__color_indigo > :global(.__wab_flex-container) > *,
.root__color_indigo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root__color_indigo > :global(.__wab_flex-container) > picture > img,
.root__color_indigo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.root__color_blue {
  background: #007aff;
}
.root__color_red {
  background: #ff3b30;
}
.root__color_white {
  background: #ffffff;
}
.root__color_darkGray {
  background: #000000d9;
}
.root:hover {
  background: #f2f2f7;
}
.root__color_green:hover {
  background: #40e569;
}
.root__color_indigo:hover {
  background: #5e5ce6;
}
.root__color_blue:hover {
  background: #1a88ff;
}
.root__color_red:hover {
  background: #fd5046;
}
.root__color_darkGray:hover {
  background: #05050599;
}
.root:focus {
  box-shadow: 0px 0px 0px 4px #0095ff80;
  outline: none;
}
.slotTargetStartIcon {
  color: #000000d9 /* plasmic-token: RTPnLHRbXEL1 */;
}
.slotTargetStartIcon__color_green {
  color: #ffffff /* plasmic-token: IZqz2f8f1FE3 */;
}
.slotTargetStartIcon__color_indigo {
  color: #ffffff /* plasmic-token: IZqz2f8f1FE3 */;
}
.slotTargetStartIcon__color_blue {
  color: #ffffff /* plasmic-token: IZqz2f8f1FE3 */;
}
.slotTargetStartIcon__color_red {
  color: #ffffff /* plasmic-token: IZqz2f8f1FE3 */;
}
.slotTargetStartIcon__color_white {
  color: #000000d9 /* plasmic-token: RTPnLHRbXEL1 */;
}
.slotTargetStartIcon__color_darkGray {
  color: #ffffffd9 /* plasmic-token: kgXFvWsGNdjo */;
}
.slotTargetStartIcon__color_link {
  color: #007aff /* plasmic-token: IgfogvUH2gmW */;
}
.svg__eozA0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.slotTargetChildren {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  white-space: pre;
}
.slotTargetChildren__color_navLink {
  font-weight: 400;
  color: #05050599 /* plasmic-token: vN13OrYJIk43 */;
}
.slotTargetChildren__large {
  font-size: 24px;
  line-height: 1.5em;
}
.slotTargetChildren__color_green {
  color: #ffffff /* plasmic-token: IZqz2f8f1FE3 */;
}
.slotTargetChildren__color_indigo {
  color: #ffffff /* plasmic-token: IZqz2f8f1FE3 */;
}
.slotTargetChildren__color_blue {
  color: #ffffff /* plasmic-token: IZqz2f8f1FE3 */;
}
.slotTargetChildren__color_red {
  color: #ffffff /* plasmic-token: IZqz2f8f1FE3 */;
}
.slotTargetChildren__color_darkGray {
  color: #ffffffd9 /* plasmic-token: kgXFvWsGNdjo */;
}
.slotTargetChildren__color_link {
  color: #007aff /* plasmic-token: IgfogvUH2gmW */;
}
.root__color_navLink:hover .slotTargetChildren__color_navLink {
  color: #000000d9 /* plasmic-token: RTPnLHRbXEL1 */;
}
.root__color_navLink:hover .slotTargetChildren__color_navLink > .__wab_text,
.root__color_navLink:hover
  .slotTargetChildren__color_navLink
  > .__wab_slot-string-wrapper,
.root__color_navLink:hover
  .slotTargetChildren__color_navLink
  > .__wab_slot
  > .__wab_text,
.root__color_navLink:hover
  .slotTargetChildren__color_navLink
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.root__color_navLink:hover
  .slotTargetChildren__color_navLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.root__color_navLink:hover
  .slotTargetChildren__color_navLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.root__color_navLink:hover
  .slotTargetChildren__color_navLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.root__color_navLink:hover
  .slotTargetChildren__color_navLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: underline;
}
.slotTargetEndIcon {
  color: #000000d9 /* plasmic-token: RTPnLHRbXEL1 */;
}
.slotTargetEndIcon__color_green {
  color: #ffffff /* plasmic-token: IZqz2f8f1FE3 */;
}
.slotTargetEndIcon__color_indigo {
  color: #ffffff /* plasmic-token: IZqz2f8f1FE3 */;
}
.slotTargetEndIcon__color_blue {
  color: #ffffff /* plasmic-token: IZqz2f8f1FE3 */;
}
.slotTargetEndIcon__color_red {
  color: #ffffff /* plasmic-token: IZqz2f8f1FE3 */;
}
.slotTargetEndIcon__color_white {
  color: #000000d9 /* plasmic-token: RTPnLHRbXEL1 */;
}
.slotTargetEndIcon__color_darkGray {
  color: #ffffffd9 /* plasmic-token: kgXFvWsGNdjo */;
}
.slotTargetEndIcon__color_link {
  color: #007aff /* plasmic-token: IgfogvUH2gmW */;
}
.svg__lExM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
