.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("./images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__dnEHc {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1080px /* plasmic-token: GpLNjEOvrs3m */;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__dnEHc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__dnEHc > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__dnEHc > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__dnEHc > :global(.__wab_flex-container) > *,
.columns__dnEHc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dnEHc > :global(.__wab_flex-container) > picture > img,
.columns__dnEHc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dnEHc {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dnEHc > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dnEHc > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dnEHc > :global(.__wab_flex-container) > *,
  .columns__dnEHc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__dnEHc > :global(.__wab_flex-container) > picture > img,
  .columns__dnEHc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column___9PzUy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zWzFp {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__zWzFp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__zWzFp > :global(.__wab_flex-container) > *,
.freeBox__zWzFp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zWzFp > :global(.__wab_flex-container) > picture > img,
.freeBox__zWzFp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__a0Rz8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__a0Rz8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__a0Rz8 > :global(.__wab_flex-container) > *,
.freeBox__a0Rz8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a0Rz8 > :global(.__wab_flex-container) > picture > img,
.freeBox__a0Rz8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__f26Ek {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__hVnd1 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: vN13OrYJIk43 */;
  background: #ffffff;
  padding: 4px 8px;
}
.text___5WFjU {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: RTPnLHRbXEL1 */;
}
.text__cj0M0 {
  font-size: 20px;
  color: #05050599 /* plasmic-token: vN13OrYJIk43 */;
  line-height: 28px;
}
.freeBox__f8K84 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__f8K84 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__f8K84 > :global(.__wab_flex-container) > *,
.freeBox__f8K84 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f8K84 > :global(.__wab_flex-container) > picture > img,
.freeBox__f8K84
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__uL6U:global(.__wab_instance) {
  position: relative;
}
.svg__c2Zj8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__g4CmJ {
  height: auto;
}
.svg__xD7Hd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__qZu7:global(.__wab_instance) {
  position: relative;
}
.svg__xuEyA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___5KRpb {
  height: auto;
  font-weight: 400;
}
.svg__i0KHc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__aLwTt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__iV5Y8 {
  max-width: 1080px /* plasmic-token: GpLNjEOvrs3m */;
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__iV5Y8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__iV5Y8 > :global(.__wab_flex-container) > *,
.freeBox__iV5Y8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iV5Y8 > :global(.__wab_flex-container) > picture > img,
.freeBox__iV5Y8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___8OmVv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__l7Vyf {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: RTPnLHRbXEL1 */;
  line-height: 1;
}
.text__uPuk4 {
  font-size: 20px;
  color: #05050599 /* plasmic-token: vN13OrYJIk43 */;
  text-align: left;
  line-height: 28px;
}
.freeBox__i1O3J {
  max-width: 1080px /* plasmic-token: GpLNjEOvrs3m */;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 64px;
}
.freeBox__i1O3J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__i1O3J > :global(.__wab_flex-container) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
.freeBox__i1O3J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J {
    max-width: 1080px /* plasmic-token: GpLNjEOvrs3m */;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
  .freeBox__i1O3J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__xw4Nb {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__xw4Nb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__xw4Nb > :global(.__wab_flex-container) > *,
.freeBox__xw4Nb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xw4Nb > :global(.__wab_flex-container) > picture > img,
.freeBox__xw4Nb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xw4Nb {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xw4Nb > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xw4Nb > :global(.__wab_flex-container) > *,
  .freeBox__xw4Nb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xw4Nb > :global(.__wab_flex-container) > picture > img,
  .freeBox__xw4Nb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__w09Wd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sRz4B {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___82Bzk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__czDZ {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__xHER:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xk80G {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__j6CFe:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zyO76 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__vzm0I {
  height: auto;
}
.freeBox__r959M {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__r959M > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__r959M > :global(.__wab_flex-container) > *,
.freeBox__r959M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r959M > :global(.__wab_flex-container) > picture > img,
.freeBox__r959M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r959M {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r959M > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r959M > :global(.__wab_flex-container) > *,
  .freeBox__r959M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__r959M > :global(.__wab_flex-container) > picture > img,
  .freeBox__r959M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__aWe3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hpOvy {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__shYlQ {
  height: auto;
}
.valueProp__kAyEq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__r3Rks {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__aFBbb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bKuex {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___4DuDh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5GsUp {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__eAMkh {
  max-width: 1080px /* plasmic-token: GpLNjEOvrs3m */;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__eAMkh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__eAMkh > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__eAMkh > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__eAMkh > :global(.__wab_flex-container) > *,
.columns__eAMkh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__eAMkh > :global(.__wab_flex-container) > picture > img,
.columns__eAMkh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eAMkh {
    max-width: 1080px /* plasmic-token: GpLNjEOvrs3m */;
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eAMkh > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eAMkh > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eAMkh > :global(.__wab_flex-container) > *,
  .columns__eAMkh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__eAMkh > :global(.__wab_flex-container) > picture > img,
  .columns__eAMkh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__ht247 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vkFl {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__vkFl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vkFl > :global(.__wab_flex-container) > *,
.freeBox__vkFl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vkFl > :global(.__wab_flex-container) > picture > img,
.freeBox__vkFl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__c7Ag {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: Cg0-AGAwrLlS */;
}
.h2__nbBeG {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: kgXFvWsGNdjo */;
  line-height: 1;
}
.text__iFuX5 {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: gBMwtJv946Yn */;
  line-height: 28px;
  height: auto;
}
.button__o8EOa:global(.__wab_instance) {
  position: relative;
}
.svg___5Mv2F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__kgy6A {
  color: #0a84ff /* plasmic-token: NP-fqaw4qauI */;
}
.svg__oMz3G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: NP-fqaw4qauI */;
}
.column__pEkCh {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___8OLab {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__zbVz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__zbVz:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__idlzc {
  color: #ffffffd9 /* plasmic-token: kgXFvWsGNdjo */;
}
.svg__wJgd1 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Cg0-AGAwrLlS */;
}
.listItem__yxT5Y:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__da0A2 {
  color: #ffffffd9 /* plasmic-token: kgXFvWsGNdjo */;
}
.svg___21Y5S {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Cg0-AGAwrLlS */;
}
.listItem__l33Go:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__heu3D {
  height: auto;
  color: #ffffffd9 /* plasmic-token: kgXFvWsGNdjo */;
}
.svg__jyk7P {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Cg0-AGAwrLlS */;
}
.listItem__pratj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__h4GpJ {
  height: auto;
  color: #ffffffd9 /* plasmic-token: kgXFvWsGNdjo */;
}
.svg__qllv1 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Cg0-AGAwrLlS */;
}
.listItem__q8X94:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___32GF7 {
  height: auto;
  color: #ffffffd9 /* plasmic-token: kgXFvWsGNdjo */;
}
.svg__buUgn {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Cg0-AGAwrLlS */;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__lvtsl {
  max-width: 1080px /* plasmic-token: GpLNjEOvrs3m */;
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__lvtsl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__lvtsl > :global(.__wab_flex-container) > *,
.freeBox__lvtsl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lvtsl > :global(.__wab_flex-container) > picture > img,
.freeBox__lvtsl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lvtsl {
    max-width: 1080px /* plasmic-token: GpLNjEOvrs3m */;
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lvtsl > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lvtsl > :global(.__wab_flex-container) > *,
  .freeBox__lvtsl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lvtsl > :global(.__wab_flex-container) > picture > img,
  .freeBox__lvtsl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__vl8Vz {
  display: flex;
  flex-direction: column;
}
.freeBox__vl8Vz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vl8Vz > :global(.__wab_flex-container) > *,
.freeBox__vl8Vz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vl8Vz > :global(.__wab_flex-container) > picture > img,
.freeBox__vl8Vz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__zxkRu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__bZ6T {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: kgXFvWsGNdjo */;
  line-height: 1;
}
.text__pBi5B {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: gBMwtJv946Yn */;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__wbhyc {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__wbhyc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__wbhyc > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__wbhyc > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__wbhyc > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wbhyc {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wbhyc > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wbhyc > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wbhyc > :global(.__wab_flex-container) > *,
  .columns__wbhyc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__wbhyc > :global(.__wab_flex-container) > picture > img,
  .columns__wbhyc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__qevNq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__j04Yq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__j04Yq:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__n2D0W:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___4OolF {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__q9CG:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7SsgQ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__zpxd7 {
  height: auto;
}
.column__qXd82 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___4Bqhu:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp___0G4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rdX3Z {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__e2Bv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__evRxf {
  height: auto;
}
.svg__jkDyw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__fDxu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ccFky {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___5Nl6M:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__tJ4Ng {
  height: auto;
}
.svg__gLdjx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__enHdy {
  height: auto;
}
.column__gxcQz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__pBib5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__pBib5:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__tsU2F:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xcpen {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___3ZnNn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5UhQh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__bTnZg {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___1LaBx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___1LaBx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___1LaBx > :global(.__wab_flex-container) > *,
.freeBox___1LaBx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1LaBx > :global(.__wab_flex-container) > picture > img,
.freeBox___1LaBx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1LaBx {
    position: relative;
  }
}
.text__f8Aio {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__s8SRz {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: RTPnLHRbXEL1 */;
  line-height: 1;
  height: auto;
}
.svg___4BRdj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__z5Q4 {
  height: auto;
  width: auto;
}
.svg__u3Ata {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__xd631 {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__xd631 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__xd631 > :global(.__wab_flex-container) > *,
.freeBox__xd631 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xd631 > :global(.__wab_flex-container) > picture > img,
.freeBox__xd631
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xd631 {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xd631 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xd631 > :global(.__wab_flex-container) > *,
  .freeBox__xd631 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xd631 > :global(.__wab_flex-container) > picture > img,
  .freeBox__xd631
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.text__sf1CR {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__nlIEr {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: RTPnLHRbXEL1 */;
  line-height: 1;
  height: auto;
}
.svg__eDkTx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___6SaR {
  height: auto;
  width: auto;
}
.svg__re9X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__fqql3:global(.__wab_instance) {
  position: relative;
}
.text__mWcWa {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__da8MN {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: RTPnLHRbXEL1 */;
  line-height: 1;
  height: auto;
}
.svg__sTeFh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__aAUpC {
  height: auto;
  width: auto;
}
.svg___6TDe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___6FVb5 {
  max-width: 1080px /* plasmic-token: GpLNjEOvrs3m */;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: row;
}
.freeBox___6FVb5 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___6FVb5 > :global(.__wab_flex-container) > *,
.freeBox___6FVb5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6FVb5 > :global(.__wab_flex-container) > picture > img,
.freeBox___6FVb5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__nWj4A {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__nWj4A > picture > img {
  object-fit: cover;
}
.img__nWj4A > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___6HbEt {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___6HbEt > picture > img {
  object-fit: cover;
}
.img___6HbEt > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___1Dwdh {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___1Dwdh > picture > img {
  object-fit: cover;
}
.img___1Dwdh > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___4UCum {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___4UCum > picture > img {
  object-fit: cover;
}
.img___4UCum > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__bt5An {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__bt5An > picture > img {
  object-fit: cover;
}
.img__bt5An > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__guUed {
  max-width: 1080px /* plasmic-token: GpLNjEOvrs3m */;
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__guUed > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__guUed > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__guUed > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__guUed > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__guUed > :global(.__wab_flex-container) > *,
.columns__guUed > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__guUed > :global(.__wab_flex-container) > picture > img,
.columns__guUed
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__guUed {
    max-width: 1080px /* plasmic-token: GpLNjEOvrs3m */;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__guUed > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__guUed > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__guUed > :global(.__wab_flex-container) > *,
  .columns__guUed > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__guUed > :global(.__wab_flex-container) > picture > img,
  .columns__guUed
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.column___2Bl8K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__mshHf:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__ls8Jt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__d1GLc:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__mlfVz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__s7Dz:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__lNq5 {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__n6Td3 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__n6Td3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__n6Td3 > :global(.__wab_flex-container) > *,
.freeBox__n6Td3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n6Td3 > :global(.__wab_flex-container) > picture > img,
.freeBox__n6Td3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__uJwLi {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #ffffffd9 /* plasmic-token: kgXFvWsGNdjo */;
}
.text__ljdUn {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: kgXFvWsGNdjo */;
  line-height: 1;
}
.text___4Pup {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: gBMwtJv946Yn */;
  line-height: 28px;
}
.freeBox__fZxPv {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fZxPv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fZxPv > :global(.__wab_flex-container) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > picture > img,
.freeBox__fZxPv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__afV7N:global(.__wab_instance) {
  position: relative;
}
.svg__x81MJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___2Mygp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__tloFe:global(.__wab_instance) {
  position: relative;
}
.svg___5A74I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___1X6Yb {
  height: auto;
  font-weight: 400;
}
.svg__e3PT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
