.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 32px;
  }
}
.freeBox__fGhKl {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px /* plasmic-token: GpLNjEOvrs3m */;
  min-width: 0;
}
.freeBox__fGhKl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fGhKl > :global(.__wab_flex-container) > *,
.freeBox__fGhKl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fGhKl > :global(.__wab_flex-container) > picture > img,
.freeBox__fGhKl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fGhKl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fGhKl > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fGhKl > :global(.__wab_flex-container) > *,
  .freeBox__fGhKl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fGhKl > :global(.__wab_flex-container) > picture > img,
  .freeBox__fGhKl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__h5Mkt {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__h5Mkt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__h5Mkt > :global(.__wab_flex-container) > *,
.freeBox__h5Mkt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h5Mkt > :global(.__wab_flex-container) > picture > img,
.freeBox__h5Mkt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h5Mkt > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h5Mkt > :global(.__wab_flex-container) > *,
  .freeBox__h5Mkt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__h5Mkt > :global(.__wab_flex-container) > picture > img,
  .freeBox__h5Mkt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button__xw4Di:global(.__wab_instance) {
  position: relative;
}
.svg__jkTvX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__cA0Nz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__w6C0D:global(.__wab_instance) {
  position: relative;
}
.svg__cRd2E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pIX7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__zo44X:global(.__wab_instance) {
  position: relative;
}
.svg__x7Lic {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__faI7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__mNrmR:global(.__wab_instance) {
  position: relative;
}
.svg__r3VSe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__iQpYl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__bxW2:global(.__wab_instance) {
  position: relative;
}
.svg__lc0Gh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__e2S5T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__tOKlK:global(.__wab_instance) {
  position: relative;
}
.svg__fr3Mu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___72Fk1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__iLmGj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__gbiS1 {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  border-radius: 6px;
  border-width: 0px;
}
.button__rgfRt:global(.__wab_instance) {
  position: relative;
}
.svg__zDlYq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__qnOjR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
